.ui.dimmer {
  position: fixed !important;
}

[v-cloak] {
  display: none;
}

[vhidden] {
  visibility: hidden;
}

h2 {
  font-size: 1.5rem;
}

a {
  opacity: 1 !important;
  color: #000;
}
.nowrap {
  white-space: nowrap !important;
}
.button.basic.white {
  background: #fff !important;
}
.ui.button.rounded, .ui.button.circular {
  border-radius: 1rem !important;
}
.capitalize {
text-transform: capitalize !important;
}
.uppercase {
text-transform: uppercase !important;
}
.center.aligned {
text-align: center !important;
}
.left.aligned {
text-align: left !important;
}
.right.aligned {
text-align: right !important;
}
.justify.aligned {
text-align: justify !important;
}
.bg-ghostwhite {
  background: ghostwhite !important;
}
.circular-corner {
  border-radius: 500px !important;
  overflow: hidden;
}
.rounded-corner {
  border-radius: 1rem !important;
}

.ui.secondary.menu .active.item {
  background: transparent;
}
i.inverted.bordered.yellow.icon, i.inverted.circular.yellow.icon {
    background-color: #ffcb32!important;
    color: #000!important;
}

fieldset {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: none;
  border: 1px solid #d2d2d2;
  
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  legend {
    padding: .5rem 1rem;
    background: ghostwhite;
    border-radius: 100px;
    font-weight: 600;
    font-size: 1.3rem;
    color: #5c5c5c;
    text-transform: uppercase;
  }
}

html,
body {
  background: ghostwhite;
  position: relative;
  overflow: hidden;
}

input {
  &.error {
    background: #FFF6F6 !important;
    border-color: #E0B4B4 !important;
    color: #9F3A38 !important;
  }
}

input {
  border-radius: 100px !important;
}

textarea {
  border-radius: 1rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.ui.message {
  border-radius: 100px;
  font-weight: bold;
}

.input {
  border-radius: 100px;
  overflow: hidden;

  input {
    border-radius: 0 100px 100px 0 !important;
    overflow: hidden;
  }

  &.right.action {
    input {
      border-radius: 100px 0 0 100px !important;
    }
  }

  &.left.right.action {
    input:first-child {
      border-radius: 100px 0 0 100px !important;
    }

    input:last-child {
      border-radius: 0 100px 100px 0 !important;
    }
  } 
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #5a6469!important;
}

.ui.icon.input>input {
  border-radius: 100px !important;
  font-size: 1.1rem;
}

.ui.form .floating.selection.dropdown {
  border-radius: 100px !important;

  &.multiple {
    border-radius: 1rem !important;
  }

  .menu {
    border-radius: 1rem !important;
  }

  >.label {
    border-radius: 100px;
  }
}

.ui.dropdown.button {
  .menu {
    margin: .75rem 0;
    border-radius: 1rem !important;
  }
}


.field {
  label {
    font-size: 1.2rem !important;
  }
}

.main.container {
  width: 100% !important;
  background: #fff;
  max-width: 1600px !important;
  margin: 0 auto !important;
}

.ui.celled.grid>.column:not(.row),
.ui.celled.grid>.row>.column,
.ui.celled.grid>.row {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.yellow {
  background: #fff938!important;
  color: #000 !important;
  &:hover {
      background: #fff820!important;
  }
}

.bold {
font-weight: bold;
}

.disabled {
pointer-events: none;
}

a.item.loading {
position: relative;
cursor: default;
text-shadow: none!important;
color: transparent!important;
opacity: 1;
pointer-events: auto;
-webkit-transition: all 0s linear,opacity .1s ease;
transition: all 0s linear,opacity .1s ease;
background: #fbfbfb !important;
pointer-events: none;

&:after {
  position: absolute;
  content: '';
  top: 50%!important;
  left: 50%!important;
  margin: -.64285714em 0 0 -.64285714em!important;
  width: 1.28571429em!important;
  height: 1.28571429em!important;
  -webkit-animation: button-spin .6s linear;
  animation: button-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: .2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}

&:before {
  position: absolute;
  content: '';
  top: 50%!important;
  left: 50%!important;
  margin: -.64285714em 0 0 -.64285714em!important;
  width: 1.28571429em!important;
  height: 1.28571429em!important;
  border-radius: 500rem;
  border: .2em solid rgba(0,0,0,.15);
}
}


.custom.divider {
  border-bottom: 5px solid #2185d0 !important;
  margin: 1rem -1rem;
}

.divider.fluid {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
}

.modal {
    border-radius: 1rem !important;
    overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.medium.image {
  max-width: 250px !important;
}

.borderless {
  border: none !important;
}

.shadowless {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.radiusless {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}

#vertical-divider {
  position: relative;
  height: 100%;
  &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background: #ececec;
      z-index: 1;
  }
}

.rounded-corner {
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -o-border-radius: .25rem;
  -ms-border-radius: .25rem;
  border-radius: .25rem;
}

.circular-corner {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
  -ms-border-radius: 500px;
  border-radius: 500px;
}

.left-circular-corner {
  border-radius: 100px 0 0 100px !important;
}

.right-circular-corner {
  border-radius: 0 100px 100px 0 !important;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
width: 50% !important;
}

.w-25 {
width: 25% !important;
}

.w-auto {
  width: auto !important;
}

.self-center {
  align-self: center;
  -webkit-align-self: center;
}


#top-menu {
  margin: -1rem;
  height: 80px;

  * {
    font-size: 1.2rem;
  }

  .button {
    font-weight: bold;
    padding-left: .5rem;
    padding-right: .5rem;

    &:hover {
      background: transparent;
      color: steelblue;
    }
  }


  .dropdown {
    padding-left: .5rem;
    padding-right: .5rem;

    &:hover {
      background: transparent;
      color: steelblue;
      font-weight: bold;
    }

    &.user {
      .default.text {
        color: #000;
        font-weight: bold;
      }

      &:hover {
        .default.text {
          color: steelblue;
        }
      }
    }
  }

  .settings {
    margin-right: .25rem !important;

    .item {
      display: block;
      width: 100%;
      @extend .radiusless;
    }
  }

  .ui.dropdown.admin-notifications {
    .all.item {
      background: royalblue !important;
      color: #fff !important;
      font-weight: 600 !important;
      text-align: center;
      border-radius: 0 0 1rem 1rem;
    }

    a.item {
      padding: .75rem 1rem !important;
      font-weight: 600;
      cursor: default;

      .content {
        white-space: initial;
        color: #a0a0a0;
      }
    }

    .item {
      * {
        font-size: .9rem !important;
        line-height: 1.5;
      }

      .header {
        display: flex;
      }

      span {
        &:first-child {
          margin-right: .5rem;
          text-transform: capitalize;
        }
      }
    }
  }
}



#content {
  .l-side-wrapper {
      width: 320px;
      padding: 0;
      visibility: visible;
      background: #313536 !important;

      .ui.header {
        margin: 0;
        background: #313536;
        padding: 0.5rem 0 !important;
        height: 70px;
        position: fixed;
        width: 320px;
        z-index: 9;
        
        img {
          height: 100%;
        }
      }

      .vertical.menu {
          @extend .radiusless;
          @extend .borderless;
          @extend .shadowless;
          background: transparent;
          margin: 0 auto;
          max-width: 290px;
          width: 100%;
          top: 75px;
          position: relative;
          height: calc(100vh - 75px);
          overflow-y: auto;
          scrollbar-width: none !important;
          background: #313536;
          
          &::-webkit-scrollbar {
            display: none !important;
          }

          .children {
              background: transparent;
              display: flex;
              flex-direction: row;
              
              &.settings {
                flex-wrap: wrap;
              }

              .item {
                flex: 1;
                text-align: center;
                padding: .5rem;
                background: transparent;
                flex-wrap: wrap;
                flex-grow: 1;
                white-space: nowrap;

                &:nth-child(even) {
                  padding: .5rem .5rem .5rem .25rem;
                }

                span {
                  padding: .8rem .5rem;
                  width: 100%;
                  display: block;
                  background: #4f595d;
                  color: #fff;
                  border-radius: 100px;
                  font-size: 1.2rem;
                }

                &:hover {
                  background: transparent;
                }
              }
          }

          &.togglable {
            .children { 
              display: none;
            }

            .dropdown {

              &.active {
                .parent i.circle {
                  font-family: Icons !important;
                  color: #fff !important;
                }

                .children {
                  display: flex;
                }
              }
            }
          }

          a.item:hover {
            font-weight: bold;
          }

          .item {
              color: #fff;
              @extend .radiusless;
              &:hover {
                background: transparent;
              }

              &:before,
              &:after {
                  display: none;
              }

              &.parent {
                  font-size: 1.2rem;
                  line-height: 1.2;
                  background: transparent;

                  img {
                    width: 46.59px;
                    height: 46.59px;
                    margin: -1rem .75rem -1rem -1.25rem;
                    padding: .75rem;
                    float: left;
                  }
              }
          }

          #report-errors {
            &.active {
              color: grey !important;
              background: transparent !important;
              
              img {
                filter: opacity(0.2);
              }

              &:before, &:after {
                  display: block;
              }
            }
          }
      }
  }

  .r-side-wrapper {
      flex: 1;
      -webkit-flex: 1;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;

      .ui.menu.breadcrumb {
        margin: 1rem -1rem;
        padding: 1rem;
        background: ghostwhite;
        border: none;

        .header {
          color: #3c3c3c;
          font-size: 1.3rem;
          padding: .75rem 1rem;
          background: #fff;
          border-radius: 100px;
          text-transform: capitalize;
        }
      }

    .table {
      thead {
        th {
          text-align: center;
        }
        
        tr:first-child th {
          background: #f8f8ff;
          font-size: 1.1rem;

          &:nth-child(2) {
            min-width: 250px;
          }
        }
      }
    } 
  }
}

#dashboard {
  font-size: 1.1rem;

  .cards.general {
      .card {
          .content {
              display: flex;
              display: -webkit-flex;
              text-align: center;

              &.top {
                background: #e65343;
              }

              &.bottom, &.top {
                padding: .75rem;
              }

              &.bottom {
                position: relative;
                border-top: none;

                &:before {
                  content: '';
                  position: absolute;
                  left: 49.9%;
                  width: 1px;
                  height: 62px;
                  background: gainsboro;
                  top: 0;
                }
              }
          }

          .image {
              width: 40px;
          }

          .header {
              margin: auto;
          }
          .l-side,
          .r-side {
              width: 50%;
          }

          .r-side {
              align-self: center;
              -webkit-align-self: center;
          }

          .l-side {
              position: relative;

              .ui.header img {
                height: 100%;
              }
          }

          &.items {
            .content.top {
              background: #e65343;
              * {
                color: #fff;
              }
            }
          }

          &.orders 
          {
            .content.top {
              background: #ffe564;
            }
          }

          &.earnings {
            .content.top {
              background: #e65343;
              * {
                color: #fff;
              }
            }
          }

          &.users {
            .content.top {
              background: #ffe564;
            }
          }

          &.comments {
            .content.top {
              background: #ffe564;
            }
          }

          &.subscribers {
            .content.top {
              background: #e65343;
              * {
                color: #fff;
              }
            }
          }

          &.categories {
            .content.top {
              background: #ffe564;
            }
          }

          &.posts {
            .content.top {
              background: #e65343;
              * {
                color: #fff;
              }
            }
          }
      }
  }

  .transactions-sales-wrapper {
    padding: 1.5rem 2rem;
    margin: 3rem -2rem 0;
    background: ghostwhite;
  }

  .card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0 14px 5px rgba(176, 191, 238, 0.12);
  }

  .sales.chart {
    padding: 1rem;

    .ui.dropdown {
      .menu {
        border-radius: 1rem !important;
      }
    }

    .card {
      overflow: visible;

      .content:not(.top) {
        div {
          overflow-x: auto;
        }
      }
    }
  }

  .cards {
    padding: 1rem;
  }

  canvas {
    height:320px; 
    min-width: 1284px
  }
  
  .latest {
    .cards {
      margin-top: -1rem;
    }

    &:not(.transactions) {
      margin-top: -1rem;
    }

    .card {
      thead th {
        background: #e65343 !important;
        color: #fff;
      }
    }
  }

  .transactions {
    padding: 1rem;

    thead {
      border-radius: 1rem 1rem 0 0 !important;

      tr:first-child th {
        border-radius: 1rem 1rem 0 0;
      }

      th {
        background: #2d383d !important;
        color: #fff !important;
      }
    }

    table {
      border-radius: 1rem;
      box-shadow: 0px 6px 20.1px 4.9px rgba(176, 191, 238, 0.12) !important;
      border: none;
    }

    a {
      color: #000;
    }
  }
}

#product {
  .licenses, .free, .promo_price {
    &.table.wrapper {
      min-height: auto;
      margin: 0 0 2rem;
      border: 1px solid #d9d9d9;
      box-shadow: none;

      tr td:first-child {
        font-size: 1.2rem;
        background: ghostwhite;
      }
    }

    .field {
      display: flex;
      align-items: center;
    }

    label {
      max-width: 150px;
      width: 100% !important;
    }
  }

  .one.column.grid {
    display: flex;
    
    .position-relative {
      .close.icon {
        position: absolute;
        top: .5rem;
        right: .5rem;
        z-index: 1;
        background: #fff;
        font-size: 1rem;
      }
    }

    .ui.fluid.large.label {
      font-size: 1.1rem;
      border-radius: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      border-radius: 1rem;
      width: 100%;
      max-width: 150px;
    }

    .column {
      padding: 1rem;
      
      progress {
        height: 2rem;
        width: 100%;
      }

      .info.message {
        word-break: break-all; 
      }

      .stock {
        box-shadow: none !important;
        border: 1px solid #efefef;
        background: #fcfcfc;
      }

      .thumbnail {
        .image {
          background: transparent;
        }

        img {
          width: 100px;
          height: auto;
          margin-left: auto;
        }
      }

      .screenshots {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .image {
          width: 90px;
          height: 90px;
          background-position: center;
          background-size: cover;
          margin: 0.25rem;
          border-radius: 1rem;
        }
      }
    }
  }

  video {
    width: 100%;
    display: flex;
    border-radius: 1rem;
  }

  input[name^="main_file_"], input[name^="preview_"] {
    &:not(.active)
    {
      display: none;
    }
  }

  .tabular.menu {
    overflow: auto hidden;

    .item {
      font-weight: bold;
      font-size: 1.2rem;
      padding: .75rem 1.5rem;
      border-radius: 1rem 1rem 0 0!important;

      &.active {
        background: slateblue;
        color: #fff;
        border: none;
      }
    }
  }

  .segment {
    border-radius: 1rem !important;
    
    &.tab {
        min-height: 350px;
    }
  }

  .files {
    p {
      font-size: 1.2rem;
    }
  }

  .card {
    .content {
      align-items: center;
      justify-content: center;
      display: flex;

      &:nth-child(even) {
        height: 100%;
      }
    }
  }
}

#files-list, #files-box {
  >.head {
    position: relative;
    border-bottom: 5px solid #e6e6e6;
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      color: #5a5a5a;
    }

    .ui.input {
      margin-left: auto;
    }
  }

  .content.body {
    height: 369px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .card {
    border: 1px solid #d6d6d6;

    .header {
      font-size: .9rem;
      padding: .5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }
  }

  .actions {
    .ui.input {
      float: left;
    }
  }
}

#license {
  min-height: 400px;
}

.card {
  border-radius: 1rem !important;
}

.note-editor.note-frame {
  border: 1px solid #eaeaea !important;
  border-radius: 1rem;

  .note-toolbar {
    border-radius: 1rem 1rem 0 0;
  }

  .note-icon-font {
    background-color: #ffffff !important;
  }
  .note-toolbar {
    background: ghostwhite;
  }
  .note-btn-group button {
    background: #fff;
  }
}

#items {
  .ui.table thead th {
      background: #74808c;
      color: #fff;
  }
}

#searches {
  .ui.table thead th {
    background: #e13941 !important;
    
    a {
      color: #fff !important;
    }
  }
}

#supports {
  fieldset {
    @extend .rounded-corner;
    border-color: rgba(0, 0, 0, 0.03);

    p {
      margin-top: .5rem;
    }
  }

  textarea {
    resize: vertical;
  }
}

#post {
.ui.placeholder {
  cursor: pointer;
  max-width: 360px;

  img {
    display: none;
  }

  .ui.image {
    img {
      display: block;
    }
  }
}
}

footer {
  margin: 1rem -1rem -1rem;
  border-top: 1px solid #ececec;
  background: whitesmoke;

  .ui.menu {
      padding: 1rem;
      .header {
        color: #9c9c9c;
        cursor: default !important;
        
        &:hover {
            background: transparent !important;
        }
      }
  }
}


#toggle-r-column {
display: none;
}

.table.wrapper {
  width: 100%;
  overflow-y: visible;
  overflow-x: auto;
  min-height: 400px;
  border-radius: 1rem;
  box-shadow: 0px 0 14px 5px rgba(176, 191, 238, 0.12);
  margin-top: 2rem;

  table {
    border: none !important;
  }
}


#transactions {
  .card {
    @extend .d-block;

    span {
      float: right;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      position: relative; 
      top: .45rem;
    }

    .content 
    {
      &:nth-child(1)
      {
        background: steelblue;

        .header {
          color: #fff;
        }
      }

      span.minus {
        color: #ff5757;
        font-weight: bold;
      }

      span.plus {
        color: #00a000;
        font-weight: bold;
      }
    }
    
    .title {
      background: #f0ebb0;

      h4 {
        text-transform: uppercase;
        color: #000;
      }
    }
  }
}

#transaction {
  .card {
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    box-shadow: none;

    .header {
      font-weight: 600;
      font-size: 1.2rem;
      text-align: center;
    }

    .body {
      height: 100%;

      .item {
        margin: 1rem 0;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        > div {
          padding: 1rem;
          flex: 1;
          line-height: 1.5;
          background: #f8f8ff;

          &:first-child {
            flex: 2;
            font-weight: 600;
            color: #017cb7;

            sup {
              color: #535456;
            }
          }

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}


#refund {
.header {
  font-size: 1.2rem !important;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
}


#newsletter {
  .note-editor.note-frame {
    border-radius: 1rem !important;
    overflow: hidden;
  }

  .ui.dropdown {
    border-radius: 100px !important;

    .menu {
      border-radius: 1rem !important;
      box-shadow: none !important;
    }

    > .label {
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      border-radius: 100px;

      i {
        position: absolute;
        right: .5rem ;
        top: 25%;
      }
    }
  }

  .items-selection {
    padding: .5rem;
    border: 1px solid #dedede;
    border-radius: 1rem !important;

    input {
      border-radius: 100px;
    }

    &:not(:first-child)
    {
      margin-top: 1rem;
    }
  }

  label {
    padding-left: .5rem;
  }

  .fields-wrapper {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    background: ghostwhite;
  }
}


#settings {
  .table.wrapper {
    min-height: 400px !important;
    overflow: auto;
  }

  .table.files {
    thead tr th:nth-child(2) {
      min-width: auto !important;
    }

    tbody td {
      div {
        text-align: center;
        justify-content: center;
      }
    }
  }

  .homepage-items {
    table {
      border-radius: 1rem;

      th {
        padding: 1rem !important;
      }
    }
  }

  .card {
    @extend .shadowless;
    box-shadow: 0 6px 20.1px 4.9px rgba(176,191,238,.12)!important;
    
    .checkbox-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      align-items: center;
      display: flex;
      padding: 0 1rem;
    }
    
    .content {
      position: relative;

      &:nth-child(odd) {
        max-height: 60px;
      }
    }

    &.disabled {
      .content:not(:first-child), .checkbox-wrapper {
        opacity: .5;
      }
    }
  }

  .table.wrapper {
    min-height: auto;
  }

  #search-cover {
   display: flex;
   
   button {
    &:first-child {
      flex: 1;
    }
    &:last-child {
      width: 36px;
      margin-left: .5rem;
    }
   } 
  }

  &.translation {
    table {
     tbody td {
        font-family: monospace;
        font-size: 1.2rem !important;
        line-height: 1.5;
     }
    }

    span.param {
      font-weight: 600;
      color: #e83e3e;
    }

    input.empty {
      border-color: #f23e3e !important;
      background: #ffe0e075 !important;
    }

    .table.wrapper {
      max-height: 600px;
      overflow-y: auto; 
    }
  }
}



#mobile-menu-toggler {
  height: 36px;
  width: 36px;
  background: #f8f8ff;
  padding: 0;
  border-radius: 100px;
  text-align: center;

  i {
    font-size: 1.4rem;
    margin: auto !important;
  }

  &:hover {
    color: #fff;
    background: linear-gradient(45deg, #7e7e7e, #afafaf, #bababa);
  }
}

.main.row {
  min-height: calc(100vh - 212px);
  padding: 1rem;

  table *:not(sup) {
    font-size: 1.1rem !important;
  }

  .ui.menu {
    border-radius: 100px;
    overflow: hidden;
  }

  table {
    thead th:first-child {
      width: 50px;
    }
  }
}

span.comment-content, span.support-message {
  cursor: default;
}

.note-modal-body, .note-modal-header, .note-modal-footer {
  padding: 1rem !important;
}

.note-modal-header .close {
  margin-top: 0 !important;
}

.note-modal-footer {
  height: auto !important;
  text-align: right !important;
  
  .note-btn {
    float: none !important;
  }
}

#page {
  .image.rounded {
    width: 100px; 
    cursor: pointer;
  }
}

#key {
  min-height: 400px;

  .input {
    overflow: visible !important;
  }

  .ui.dropdown.button {
    border-radius: 0 100px 100px 0;
  }
}

#keys {
  small {
    font-size: .9rem !important;
  }
}

#content .table {
  thead tr:first-child th {
    border-bottom: none;
  }
  
  &.products {
    thead tr:first-child th, thead tr:first-child th a:not(.item) {
      background: salmon;
      color: #fff;
    }
  }

  &.pages {
    thead tr:first-child th, thead tr:first-child th a {
      background: #f3604f;
      color: #fff;
    }
  }

  &.posts {
    thead tr:first-child th, thead tr:first-child th a {
      background: magenta;
      color: #fff;
    }
  }

  &.comments {
    thead tr:first-child th, thead tr:first-child th a {
      background: #2185d0;
      color: #fff;
    }
  }

  &.users {
    thead tr:first-child th, thead tr:first-child th a {
      background: #ff4581;
      color: #fff;
    }
  }

  &.subscriptions {
    thead tr:first-child th, thead tr:first-child th a {
      background: steelblue;
      color: #fff;
    }
  }

  &.categories {
    thead tr:first-child th, thead tr:first-child th a {
      background: palevioletred;
      color: #fff;
    }
  }

  &.transactions {
    thead tr:first-child th, thead tr:first-child th a {
      background: #ffc863;
      color: #000;
    }
  }

  &.coupons {
    thead tr:first-child th, thead tr:first-child th a {
      background: #ff3c61;
      color: #fff;
    }
  }

  &.reviews {
    thead tr:first-child th, thead tr:first-child th a {
      background: deepskyblue;
      color: #fff;
    }
  }

  &.subscribers {
    thead tr:first-child th, thead tr:first-child th a {
      background: indianred;
      color: #fff;
    }
  }

  &.faqs {
    thead tr:first-child th, thead tr:first-child th a {
      background: slategray;
      color: #fff;
    }
  }

  &.supports {
    thead tr:first-child th, thead tr:first-child th a {
      background: #f34e4e;
      color: #fff;
    }
  }
}

#products {
  .item.exists {
    color: #a5a5a5 !important;
  }
}

#license-validation {
  .ui.form:first-child {
    input {
      border-radius: 100px 0 0 100px !important;
      outline: none !important;

      &:focus {
        border: 1px solid rgba(34,36,38,.15);
        border-right: none; 
      }
    }
  }

  .license-details {
    th {
      background: slateblue !important;
      font-size: 1.2rem !important;
      color: #fff;
      font-weight: 600;
      padding: 1.5rem;
    }
  }

  .segment {
    line-height: 2;

    .header {
      font-size: 1.3rem;
    }

    p {
      padding: .75rem 1rem;
      background: #1e2441;
      border-radius: 1rem;
      color: #fff;
      display: table;
    }

    input {
      border-radius: 100px;
    }

    .example, .response {
      padding: 1rem;
      background: white;
      color: #070707;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0px 6px 20.1px 4.9px rgba(176, 191, 238, 0.12) !important;
      margin-top: 2rem;

      div {
        &:last-child {
          margin: 1rem -1rem -1rem;
          padding: 1rem;
          background: #1e2441;
          border-radius: 0 0 1rem 1rem;
          color: #fff;
          font-weight: 500;
          font-family: monospace;
          font-size: 1.3rem;
        }
      }
    }
  }
}

.export.modal {
  .content {
    max-height: 494px;
    overflow: auto;
  }
}

#payment-link {
  .table.wrapper {
    min-height: auto;
    display: table;
  }

  .ui.dropdown.scrolling .menu {
    max-height: 200px;
  }
}

#payment_links {
  sup {
    font-size: .7rem !important;
  }

  td.short-link {
    word-break: break-all;
  }
}

#subscriptions {
  .ui.menu {
    >.item.ui.dropdown {
      .item {
        &.disabled {
          opacity: .4 !important;
        }
      }
    }
  } 
}

@media (min-width: 1025px) {
  .mobile-only {
      display: none !important;
  }
}

@media (max-width: 1024px) {
  .desktop-only {
      display: none !important;
  }
  #content .l-side-wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      height: 100vh;
  }
}

@media (max-width: 768px) {
#newsletter .ui.grid {
  display: block;

  .column {
    width: 100%;
  }
}

#transactions {
  margin-top: 2rem !important;
}

#toggle-r-column {
  display: inline-block;
}

#product .column {
  &.right {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background: #fff;

    &.visible {
      display: block;
      height: 100%;
    }
  }

  &.left.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
  }
}
}

#message-form {
  border-radius: 1rem;
  overflow: hidden;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

@media (max-width: 520px) {
  .ui.doubling.cards {
      display: block;
      padding: 1rem !important;
      .card {
          display: block;
          width: 100% !important;
          margin: 0 !important;
          &:not(:first-child) {
              margin-top: 1rem !important;
          }
          .content.title {
              white-space: normal !important;
              overflow: visible;
              text-overflow: initial;
              text-align: left;
              width: 100%;
              display: block;
          }
      }
  }

  #top-menu {
    > .item, > .right.menu > .item {
      padding-left: 0;
      padding-right: 0;
    }

    .dropdown.user .default.text {
      display: none;
    }
  }
}